body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
  padding-top: 3%;
  box-shadow: 0 1px 3px rgb(33 33 33 / 20%);
  align-items: center;
}

header > .sub-header{
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}
